asyncpg==0.20.1
aiohttp==3.6.2
typeguard==2.7.1
fastapi==0.53.2
pydantic[email]==1.4
uvicorn==0.11.3
Shapely==1.7.0
mypy==0.770
pycodestyle==2.5.0
starlette-prometheus==0.5.0
nivacloud-logging==0.8.14
pytest==5.4.1
pytest-docker-compose==3.1.2
pytest-asyncio==0.11.0
requests==2.23.0
python-dotenv==0.12.0