asyncpg==0.20.1
aiohttp==3.6.2
fastapi==0.60.1
pydantic[email]==1.6.1
typeguard==2.9.1
uvicorn==0.11.7
Shapely==1.7.0
mypy==0.782
pycodestyle==2.6.0
starlette-prometheus==0.7.0
nivacloud-logging==0.8.14
pytest==5.4.3
pytest-docker-compose==3.1.2
pytest-asyncio==0.14.0
python-dotenv==0.14.0
requests==2.24.0
gcloud-common-utils==0.1.2